<div class="container">
    <h1 class="title">Diseños</h1>

    <div class="projects">
        <div class="card">
            <h3>Administración de Inventario</h3>
            <img src="assets/img/diseños/textil.png" alt="">
            <a href="https://imgur.com/a/PQIrpWq">Ver todo</a>
        </div>

        <div class="card">
            <h3>Portafolio Web</h3>
            <img src="assets/img/proyectos/portafolio.png" alt="">
            <a href="https://xd.adobe.com/view/22f5dbbd-fa25-41eb-8bb6-d4e5f0f200d7-77a6/">Ver todo</a>
        </div>
    
        <div class="card">
            <h3>Tienda Online en proceso</h3>
            <img src="assets/img/diseños/sugerir.png" alt="">
            <a href="https://imgur.com/a/esNYvee">Ver todo</a>
        </div>
    </div>

    <a href="" class="more">Más Diseños</a>
</div>
