<div class="container">
    <h1 class="title">Proyectos</h1>

    <p>Con el fin de practicar he creado desde cero proyectos web sencillos, bases de datos y un sin fin de problemas lógicos donde aplico el paradigma orientado a objetos.</p>

    <div class="projects">
        <div class="card">
            <h3>Portafolio</h3>
            <img src="../../../assets/img/proyectos/portafolio.png" alt="">
            <a href="./">Ver</a>
        </div>

        <div class="card">
            <h3>Página Web de Recetas</h3>
            <img src="../../../assets/img/proyectos/recetas.png" alt="">
            <a href="https://anthony20001.github.io/web-de-recetas/">Ver</a>
        </div>
    
        <div class="card">
            <h3>Árbol Binario</h3>
            <img src="../../../assets/img/proyectos/binario.png" alt="">
            <a href="">Ver</a>
        </div>
    
        <div class="card">
            <h3>Formularios y tablas</h3>
            <img src="../../../assets/img/proyectos/formularios.png" alt="">
            <a href="https://anthony20001.github.io/web-formularios/">Ver</a>
        </div>
    
        <div class="card">
            <h3>Página Web de Restaurante</h3>
            <img src="../../../assets/img/proyectos/restaurante.png" alt="">
            <a href=" https://anthony20001.github.io/web-restaurante/">Ver</a>
        </div>
    
        <div class="card">
            <h3>Base de Datos</h3>
            <img src="../../../assets/img/proyectos/sqlserver2.jpg" alt="">
            <a href="https://github.com/Anthony20001/Base-de-datos-sql-server/blob/b7647d5dda0fcd3fdcbee72cf0a43aa52e8a9ae6/SEMESTRALDB_5.0.sql">Código</a>
        </div>

        <div class="card">
            <h3>Página web de Fraudes</h3>
            <img src="../../../assets/img/proyectos/fraudes.png" alt="">
            <a href=" https://anthony20001.github.io/Casos-de-fraude/">Ver</a>
        </div>
    </div>

    <a href="https://github.com/anthony20001">Más Proyectos</a>
</div>
