<div class="container">
    <h1 class="title">Habilidades</h1>

    <!--=========================== row ===========================-->
    <div class="row mt">
        <div class="item">
            <span>Lenguajes de Programación</span>
            <div class="languages">
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/java.png" alt="">
                    <label for="">Java</label>
                </div>

                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/Javascript.png" alt="">
                    <label for="">Javascript</label>
                </div>

                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/php.png" alt="">
                    <label for="">Php</label>
                </div>

                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/typescript.png" alt="">
                    <label for="">Typescript</label>
                </div>

                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/c++.png" alt="">
                    <label for="">C++</label>
                </div>
            </div>
        </div>

        <div class="item">
            <span>Diseño de Interfaces Gráficas</span>
            <div class="languages">
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/adobeXD.png" alt="">
                    <label for="">Adobe XD</label>
                </div>
            </div>
        </div>
    </div>


    <!--=========================== row ===========================-->
    <div class="row mt">
        <div class="item">
            <span>Lenguajes de Etiquetas</span>
            <div class="languages">
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/html.png" alt="">
                    <label for="">HTML</label>
                </div>
            </div>
        </div>

        <div class="item">
            <span>Lenguaje de Estilos</span>
            <div class="languages">
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/css.png" alt="">
                    <label for="">CSS</label>
                </div>
            </div>
        </div>

        <div class="item">
            <span>Frameworks</span>
            <div class="languages">
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/angular.png" alt="">
                    <label for="">Angular</label>
                </div>
            </div>
        </div>

        <div class="item">
            <span>Librerías</span>
            <div class="languages">
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/jquery2.png" alt="">
                    <label for="">JQuery</label>
                </div>
            </div>
        </div>
    </div>

    <!--=========================== row ===========================-->
    <div class="row mt">
        <div class="item">
            <span>Base de Datos (SQL)</span>
            <div class="languages">
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/sqlserver.png" alt="">
                    <label for="">Microsoft SQL Server</label>
                </div>
            
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/mysql.png" alt="">
                    <label for="">MySQL</label>
                </div>
            
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/heidisql.png" alt="">
                    <label for="">HeidiSQL</label>
                </div>
            </div>
        </div>

        <div class="item">
            <span>Base de Datos (NoSQL)</span>
            <div class="languages">
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/mongodb2.png" alt="">
                    <label for="">MongoDB</label>
                </div>
            </div>
        </div>

        <div class="item">
            <span>Control de Versiones</span>
            <div class="languages">
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/git.png" alt="">
                    <label for="">Git</label>
                </div>
                <div class="image">
                    <img src="../../../assets/img/lenguajes de programación/github.png" alt="">
                    <label for="">GitHub</label>
                </div>
            </div>
        </div>
    </div>

    
</div>

