<div>
    <h1 class="title">¡Hola!, soy Anthony Ledezma. Es un placer conocerte.</h1>

    <p>Actualmente soy estudiante de Licenciatura en Desarrollo de Software en la Universidad Tecnológica de Panamá (Índice 2.68). Me apasiona la tecnología, en especial el desarrollo de aplicaciones en donde me caracterizo por mi habilidad y destreza. </p>

    <p>Estoy 100% enfocado y comprometido tanto en mi desarrollo personal, como también,  profesional. Mi naturaleza curiosa me impulsa a investigar y practicar diariamente con el fin de mejorar mis habilidades. Me encanta la resolución de problemas y  por supuesto trabajar en equipo.</p>
</div>

