

<nav>
    <p class="first-text">Página web creada desde cero por Anthony Ledezma, un entusiasta de la programación con ganas de seguir aprendiendo.</p>
    <div id="bg-nav">
        <img src="../../../assets/img/logo.png" alt="">
        <!-- <a href="" target="_blank">Ir a Repositorio</a> -->
        <a class="header" href="./">Portafolio</a>
        <a href="https://form.jotform.com/220433103334035">Contacto</a>
    </div>
</nav>



<article>
    <div class="text-info">
        
        
        <p class="occupation">Diseñador y Desarrollador Full-Stack en Proceso</p>
    
        <img class="img-user" src="../../../assets/img/usuario.png" alt="">
    
        <p class="phrase">“Viviendo, aprendiendo y subiendo de nivel un día a la vez.”<br><br><cite>- Matt</cite>
        </p>
    </div>

    <video src="../../../assets/video/code.mp4" autoplay muted loop>
    </video>
</article>


